In [6]:
import pandas as pd

In [9]:
file_path = '../data/raw/dataset_clean.csv'
df = pd.read_csv(file_path)

In [10]:
df.head(5)

,image_filename,caption_desc,emotion_label
0,1000092795.jpg,two young guys with shaggy hair look at their ...,NaN
1,1000092795.jpg,"two young , white males are outside near many ...",NaN
2,1000092795.jpg,two men in green shirts are standing in a yard .,NaN
3,1000092795.jpg,a man in a blue shirt standing in a garden .,NaN
4,1000092795.jpg,two friends enjoy time spent together .,NaN

In [ ]:
df.tail(5)