In [3]:
import pandas as pd

In [4]:
file_path = '../data/raw/dataset_clean.csv'
df = pd.read_csv(file_path)

In [5]:
df.head(5)

,image_filename,caption_desc,emotion_label
0,1000092795.jpg,two young guys with shaggy hair look at their ...,NaN
1,1000092795.jpg,"two young , white males are outside near many ...",NaN
2,1000092795.jpg,two men in green shirts are standing in a yard .,NaN
3,1000092795.jpg,a man in a blue shirt standing in a garden .,NaN
4,1000092795.jpg,two friends enjoy time spent together .,NaN

In [6]:
df.tail(5)

,image_filename,caption_desc,emotion_label
158910,998845445.jpg,a man in shorts and a hawaiian shirt leans ove...,NaN
158911,998845445.jpg,"a young man hanging over the side of a boat , ...",NaN
158912,998845445.jpg,a man is leaning off of the side of a blue and...,NaN
158913,998845445.jpg,"a man riding a small boat in a harbor , with f...",NaN
158914,998845445.jpg,a man on a moored blue and white boat with hil...,NaN

In [7]:
print('JemiBelajarGitHub')

JemiBelajarGitHub

In [8]:
df.tail(5)
df.tail(5)

,image_filename,caption_desc,emotion_label
158910,998845445.jpg,a man in shorts and a hawaiian shirt leans ove...,NaN
158911,998845445.jpg,"a young man hanging over the side of a boat , ...",NaN
158912,998845445.jpg,a man is leaning off of the side of a blue and...,NaN
158913,998845445.jpg,"a man riding a small boat in a harbor , with f...",NaN
158914,998845445.jpg,a man on a moored blue and white boat with hil...,NaN